.excercise{
    width: 250px;
    height: 420px;
    padding: .5rem;
    position: relative;
    font-size: small;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    
}
.excercise img{
    width: 250px;
    height: 200px;
    border-radius: 8px;
    
}
.product-btn{
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;  
}
button{
    width: 100%;
    padding: 0;
    background-color: olivedrab;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    
}
button:hover{
    background-color: black;
}
@media screen and (max-width: 567px) {
    .excercise img{
        width: 300px;
        height: 200px;
    }
    .excercise{
        width: 300px;
        height: 430px;
        margin: 1rem;
    }


}
